@import '../../scss/colors.scss';

.menu-toggle {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    &:after {
        position: absolute;
        top: 19px;
        left: 19px;
        content: '\2261';
        color: $dark-shade-50;
        font-size: 60px;
        line-height: 20px;
    }
}