extends ../main-layout/main-layout

block title
  title Landing

block content
    block card
      .landing
        .landing__background
        .landing__room-config
          include ../../blocks/find-apartments-card/find-apartments-card.pug 
          +apartments()