extends ../main-layout/main-layout

block title
  title Landing

block content
  .landing
    include ../../blocks/background/background
    +background({landing: true})
    .landing__room-config
      include ../../blocks/find-apartments-card/find-apartments-card
      +apartments()