extends ../main-layout/main-layout

block title
  title Landing

block content
  include ../../blocks/background/background
  +background({landing: true})
  .card
    include ../../blocks/find-apartments-card/find-apartments-card
    +apartments()