@import '../../scss/colors.scss';

.like {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: $white;
    color: $dark-shade-25;
    margin: 1px;
    border: 1px solid;
    border-color: $gradient;
    border-radius: 10px;
    width: 40px;
    height: 20px;
    font-size: 10px;
    line-height: 12px;
    
    &:after {
        width: 10px;
        text-align: center;
        content: attr(data-count);
        position: absolute;
        top: 3px;
        left: 19px;
    }
    
    &__icon:after {
        content: "favorite_border";
        position: absolute;
        top: 3px;
        left: 4px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 10px;
    }
    
    &:hover, &.active {
        color: $purple;
        border-color: $gradient;
    }

    &.active .like__icon:after {
        content: "favorite";
        position: absolute;
        top: 3px;
        left: 4px;
    }
}