extends ../main-layout/main-layout

block title
  title Sign in

block content
    include ../../blocks/background/background
    +background({landing: false})
    .card.card--sign-in
      include ../../blocks/enter-card/enter-card
      +enter-card()