@import '../../scss/colors.scss';

.rounded-button {
    display: inline-block;
    position: relative;
    right: 2px;
    color: $purple;
    border-radius: 22px;
    width: 95px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    background-color: $white;

    &::after {
        display: inherit;
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        z-index: -1;
        border-radius: 22px;
        background-image: $gradient;
    }

    &--disabled::after {
        opacity: .5;
    }

    &--disabled {
        cursor: auto;
    }

}