@import '../../scss/sizes.scss';

.form-elements {
    margin: 140px auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px 1fr));
    grid-template:
                "top-left top-mid top-right" 726px 
                "mid-left mid-mid mid-right" 627px  
                "bot-left bot-mid bot-mid" 290px;
    justify-items: center;
    grid-column-gap: 72px;
    grid-row-gap: 40px;

    &__top-left {
        grid-area: top-left;
    }
    &__top-mid {
        grid-area: top-mid;
    }
    &__top-right {
        grid-area: top-right;
    }

    &__mid-left {
        grid-area: mid-left;
    }
    &__mid-mid {
        grid-area: mid-mid;
    }
    &__mid-right {
        grid-area: mid-right;
    }

    &__bot-left {
        grid-area: bot-left;
    }
    &__bot-mid {
        grid-area: bot-mid;
    }

    &__item {
        width: 320px;
        padding-bottom: 20px;
        align-self: center;
        justify-self: center;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: .75rem;
        margin-bottom: 5px;
    }

    &__title {
        font-family: 'Montserrat Bold';
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    &__btn {
        margin-right: 20px;
        margin-bottom: 30px;

        &--big {
            margin-right: 30px;
        }
    }
}

@media screen and (min-width: $small-size) {

    .form-elements {
        grid-template:
        "top-left" 
        "top-mid"
        "top-right"
        "mid-left"
        "mid-mid"
        "mid-right"
        "bot-left"
        "bot-left"
        "bot-mid bot-mid";
    }
}

@media screen and (min-width: $middle-size) {

    .form-elements {
        grid-template-areas:
        "top-left top-mid" 574px
        "top-right mid-left" 627px
        "mid-mid mid-right" 450px
        "bot-left bot-mid bot-mid" 290px;
    }
}