@import '../../scss/colors.scss';

.form-elements {
    margin: 140px auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template:
                "top-left top-mid top-right" 600px 
                "mid-left mid-mid mid-right" 280px 
                "mid2-left mid2-mid mid2-right" 329px  
                "bot-left bot-mid bot-mid" 300px;
    grid-column-gap: 70px;
    grid-row-gap: 40px;

    &__top-left {
        grid-area: top-left;
    }
    &__top-mid {
        grid-area: top-mid;
    }
    &__top-right {
        grid-area: top-right;
    }

    &__mid-left {
        grid-area: mid-left;
    }
    &__mid-mid {
        grid-area: mid-mid;
    }
    &__mid-right {
        grid-area: mid-right;
    }

    &__mid2-left {
        grid-area: mid2-left;
    }
    &__mid2-mid {
        grid-area: mid2-mid;
    }
    &__mid2-right {
        grid-area: mid2-right;
    }

    &__bot-left {
        grid-area: bot-left;
    }
    &__bot-mid {
        grid-area: bot-mid;
    }

    &__item {
        width: 320px;
        padding-bottom: 18px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: .75rem;
        margin-bottom: 2px;
    }

    &__title {
        font-family: 'Montserrat Bold';
        color: $dark-shade-100;
    }

    &__desc {
        color: $dark-shade-50;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    &__btn {
        margin-right: 20px;
        margin-bottom: 30px;

        &--big {
            margin-right: 30px;
        }
    }
}