mixin socials()
    .socials
        a(href="#").socials__button.socials__button--twitter
        a(href="#").socials__button.socials__button--fb
        a(href="#").socials__button.socials__button--instagram