mixin background(data)
    if data.landing
        .background
            .background__text Лучшие номера для вашей работы, отдыха и просто вдохновения
    else
        .background.background--secondary