mixin footer-light()
    footer.footer-light
      include ../site-logo/site-logo.pug
      .site-logo
        +site-logo
      .footer-light__content
        | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam 
        | eget nullam pellentesque aliquam curabitur cociis.
      include ../socials/socials.pug 
      +socials()