doctype html
html
    head
        title Headers & Footers
    body
        include ../../blocks/header/header.pug
        img.logo(src="../img/logo.svg")
        .headers-footers
            .headers-footers__item.headers-footers__item--up
                +header({
                    english: true,
                    isLogged: false 
                    })
            .headers-footers__item
                +header({
                    english: true,
                    isLogged: true, 
                    })
            .headers-footers__item.headers-footers__item--down
                include ../../blocks/footer/footer.pug 
                +footer({english: true})
            .headers-footers__item
                include ../../blocks/footer-light/footer-light.pug 
                +footer-light({english: true})