@import '../../scss/colors.scss';

.feature {
    width: 280px;
    position: relative;
    line-height: 24px;
    border-bottom: 1px solid $dark-shade-10;
    padding: 0 0 20px 58px;
    margin-bottom: 20px;

    &__title {
        font-family: 'Montserrat Bold';
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'Material Icons';
        font-style: normal;
        font-size: 48px;
        line-height: 48px;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}