mixin apartments()
    .find-apartments-card
        .card-canvas
          h1 
            | Найдём номера под
            br
            | ваши пожелания
          .find-apartments-card__item.find-apartments-card__item--primary
            include ../range-dates/range-dates
            +range-dates({
              firstLabel: 'Прибытие',
              secondLabel: 'Выезд',
              firstInputId: 'first_date',
              secondInputId: 'second_date'
            })
          .find-apartments-card__item
            #apartments_dropdown
          .find-apartments-card__button
            include ../long-button/long-button
            +long-button('Подобрать номер')