.comment {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 47px 1fr;
    grid-template-rows: 47px 1fr;
    grid-gap: 11px;

    &__author {
        padding-top: .143em;
        font-family: 'Montserrat Bold';
    }

    &__date {
        padding-top: .285em;
    }

    &__like {
        padding: 2px 4px;
    }

    &__text {
        line-height: 1.72em;
    }
}