mixin image-card(data)
    .image-card
        include ../gallery/gallery
        +gallery(data.image, data.arrows)
        .image-card__row
            include ../apartment-info/apartment-info 
            +apartment-info({number: data.position, lux: data.lux})
            .image-card__item
              include ../price/price 
              +price(data.price)
        .image-card__row.image-card__row--bottom
            include ../rating/rating
            +rating(data.rating)
            .image-card__item
              .image-card__item--bold 
                | #{data.comments} 
              span Отзывов