mixin header(obj)
  include ../menu/menu.pug 
  header.header
    .header__container
      include ../site-logo/site-logo.pug
      .header__logo
        +site-logo
      .header__toggle
        button.menu-toggle
      .header__menu
        +menu(obj.menu)#menu-1
      if obj.isLogged
        .header__account Cosmin Negoita
      else
        .header__enter-panel
          .header__enter-button
            .rounded-button.rounded-button--small= obj.buttons.enter
          .button.button--small= obj.buttons.register